.addpost--button
  position: fixed
  bottom: 30px
  right: 30px
  height: $addpost--button-size
  width: $addpost--button-size
  border-radius: 100%
  padding: 0
  border: none
  background-color: $primary-color
  font-size: 30px

  &, *
    color: #fff

  &:hover
    background-color: $primary-color-dark