.addpost
  &--title
    padding-bottom: 15px
    border-bottom: 1px solid $border-color
    color: $text-color

  &__form
    &-input
      width: 100%
      margin-bottom: 15px

    &--categories
      margin-bottom: 10px

      label
        margin-right: 15px
        text-transform: capitalize

      input
        width: auto
        margin-right: 10px