$primary-color: #ef3f43
$primary-color-dark: darken($primary-color, 10)
$primary-color-light: lighten($primary-color, 10)

$secondary-color: #4cb051
$secondary-color-dark: darken($secondary-color, 10)
$secondary-color-light: lighten($secondary-color, 10)

$border-color: #eee

$light-color: #F5F5F5
$text-color: #4A4A4A