$primary-color: #282c37
$primary-color-dark: darken($primary-color, 10)
$primary-color-light: lighten($primary-color, 10)

$secondary-color: #2b90d9
$secondary-color-dark: darken($secondary-color, 10)
$secondary-color-light: lighten($secondary-color, 10)

$border-color: #9baec8

$light-color: #d9e1e8
$text-color: #343838