html, body
  height: 100%

body
  background-color: #fcfcfc

a, button
  outline: none

  &:hover
    @include prefix('transition', '300ms all ease')
    cursor: pointer

// --- Modal
.Modal
  background-color: #fff
  outline: none
  border-radius: $border-radius
  padding: 30px
  margin: auto
  max-width: 100%
  max-height: 100%
  width: 600px
  height: 800px
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0

.Overlay
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  background-color: transparentize(#000, 0.3)
// ---------------------------------------------------------------------------------

input, textarea
  border-radius: $border-radius
  border: 1px solid $border-color
  min-height: 30px
  padding: 10px 15px
  max-width: 100%

  @include input-placeholder
    color: #ccc
    font-weight: 300

.card
  border-radius: $border-radius
  background-color: #fff
  padding: 15px
  @include prefix('box-shadow', '0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)')